.container {
    max-width: px;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    padding-top: 80px;
    color: #8F4B96;
  }
  
  table {
    width: 100%;
    margin-top: 45px;
    padding: 0;
    border-collapse: collapse;
    box-shadow: black;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;

  }
  
  th {
    background-color: #8F4B96;
    color: white;
  }
  
  .edit-btn, .reset-btn, .rmv-btn, .addcrt-btn, .event-btn {
    background-color: #8F4B96;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .edit-btn:hover, .reset-btn:hover, .rmv-btn:hover, .addcrt-btn:hover, .event-btn:hover {
    background-color: #6B3E72;
  }
  



  /* Add styles for the modals */

.modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    
    .close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
    
    /* Add styles for the input fields and buttons in the modals */
    form label {
    display: block;
    margin-bottom: 0.5em;
    }
    
    form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    
    form button[type="submit"] {
    width: 100%;
    background-color: #8F4B96;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    form button[type="submit"]:hover {
    background-color: #6B3E72;
    }

    /* Add styles for the toggle password buttons */
.toggle-password-btn {
    background: transparent;
    border: none;
    color: #8F4B96;
    cursor: pointer;
    font-size: 0.8em;
    padding: 0;
  }
  
  .toggle-password-btn:hover {
    color: #6B3E72;
  }
  
.nav-item:hover {
    color: purple;
    transition: color .3x ease-in-out, box-shadow .3s ease-in-out;
}

.navbar.scrolled {
    background: #8F4B96;
    transition: background 500ms
}
.font-weight-light {
    font-family: 'Source Serif Pro', serif
}

.navbar-brand {
    transition: transform 0.2s, box-shadow 0.2s;
}

.navbar-brand:hover {
    transform: scale(1.2);
    transition: transform 0.2s, box-shadow 0.2s;
}



    
    
  
ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  background-color: #ccb4dc; /* some background color */
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed; /* this makes the navbar stick to the top */
  top: 0; /* this aligns the navbar to the top */
  left: 0;
  z-index: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

#mainNavbar {
  padding-left: 50px;
  padding-top: 20px;

}

.navbar-brand {
  transition: transform 0.2s, box-shadow 0.2s;
}

.navbar-brand:hover {
  transform: scale(1.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.navbar-dark .navbar-brand {
  font-family: 'Source Serif Pro', serif;
  color: white;
}

.navbar-nav .nav-link {
  font-family: 'Source Serif Pro', serif
}
.display-4 {
  font-family: 'Source Serif Pro', serif
}
.lead {
  font-family: 'Source Serif Pro', serif
}
.navbar.scrolled {
  background: #8F4B96;
  transition: background 500ms
}
.font-weight-light {
  font-family: 'Source Serif Pro', serif
}

body {
  background-image: url('images/webb.png');
  background-size: fill;
}