.nav-item:hover {
    color: purple;
    transition: color .3x ease-in-out, box-shadow .3s ease-in-out;
}

.image-one h3:hover {
    color: #8F4B96;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.image-two h3:hover {
    color: #8F4B96;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.image-three h3:hover {
    color: #8F4B96;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#mainNavbar {
    padding-left: 50px;
    padding-top: 20px
}

.navbar-dark .navbar-brand {
    font-family: 'Source Serif Pro', serif
}
.navbar-nav .nav-link {
    font-family: 'Source Serif Pro', serif
}
.display-4 {
    font-family: 'Source Serif Pro', serif
}
.lead {
    font-family: 'Source Serif Pro', serif
}
.navbar.scrolled {
    background: #8F4B96;
    transition: background 500ms
}
.font-weight-light {
    font-family: 'Source Serif Pro', serif
}

.navbar-brand {
    transition: transform 0.2s, box-shadow 0.2s;
}

.navbar-brand:hover {
    transform: scale(1.2);
    transition: transform 0.2s, box-shadow 0.2s;
}