body {
    display: grid; 
    grid-template-areas: 'left right';
    grid-template-columns: auto auto; 
    grid-template-rows: 80px; 
    grid-gap: 80%;
    background-color: pink; 
    overflow: hidden; 
}

.scroll-box {
    position: relative;
    height: 100vh; 
    width: 300px; 
    overflow: scroll; 
    grid-area: right; 
    max-width: 100%; 
    margin: 0;
}

input[type="submit"] {
    width: 100%;
    height: 100px;
}

